<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <% if (!user) {%>

        <nav>
            <h1>
                <%= title %>
            </h1>

            <a href="/sign-up">Dont have an account? Sign Up</a>
        </nav>

        <form action="/login" method="POST">
            <label for="username"></label>
            <input type="text" name="username" placeholder="username">

            <label for="password"></label>
            <input type="text" name="password" placeholder="password">

            <button>Submit</button>
        </form>

        <% } else { %>
            <nav>
                <h1>
                    Members Only
                </h1>

                <div>
                    <a href="/">Home</a>
                    <a href="/new-message">Create New Message</a>
                    <a href="/member-join">Become a Member</a>
                    <a href="/admin-access">Become a Admin</a>
                    <a href="/log-out">Log Out</a>
                </div>
            </nav>

            <h2>
                you're already logged in.
            </h2>
            <%}%>
</body>

</html>